work/
target/
test-output/
.classpath
.settings/
.vagrant/
cookbooks/7-zip
cookbooks/apt
cookbooks/ark
cookbooks/aufs
cookbooks/base
cookbooks/build-essential
cookbooks/chef_handler
cookbooks/chef-nssm
cookbooks/chef-selenium
cookbooks/chrome
cookbooks/databag_manager
cookbooks/device-mapper
cookbooks/dmg
cookbooks/docker
cookbooks/docker_registry
cookbooks/dpkg_autostart
cookbooks/firebug
cookbooks/firefox
cookbooks/git
cookbooks/golang
cookbooks/google-chrome
cookbooks/groovy
cookbooks/homebrew
cookbooks/hostsfile
cookbooks/hostsfile
cookbooks/iptables
cookbooks/iptables-ng
cookbooks/java
cookbooks/lxc
cookbooks/modules
cookbooks/ms_dotnet2
cookbooks/ms_dotnet4
cookbooks/ms_dotnet45
cookbooks/ohai
cookbooks/perl
cookbooks/polipo
cookbooks/powershell
cookbooks/python
cookbooks/runit
cookbooks/sysctl
cookbooks/vnc
cookbooks/windows
cookbooks/yum
cookbooks/yum-epel
.chef
.project
*.tgz
*~
.*.sw?
.kitchen/
.kitchen.local.yml
