work/
target/
test-output/
.classpath
.settings/
.vagrant/
cookbooks/hostsfile
cookbooks/modules
cookbooks/python
cookbooks/aufs
cookbooks/device-mapper
cookbooks/polipo
cookbooks/ohai
cookbooks/dpkg_autostart
cookbooks/lxc
cookbooks/golang
cookbooks/iptables-ng
cookbooks/runit
cookbooks/java
cookbooks/ms_dotnet2
cookbooks/ms_dotnet4
cookbooks/ms_dotnet45
cookbooks/powershell
cookbooks/vnc
cookbooks/windows
cookbooks/base
cookbooks/chef_handler
cookbooks/chef-nssm
cookbooks/chef-selenium
cookbooks/databag_manager
cookbooks/firebug
cookbooks/firefox
cookbooks/hostsfile
cookbooks/perl
cookbooks/docker
cookbooks/docker_registry
cookbooks/apt
cookbooks/git
cookbooks/homebrew
cookbooks/iptables
cookbooks/sysctl
cookbooks/yum-epel
cookbooks/build-essential
cookbooks/dmg
cookbooks/yum
.chef
.project
*~
.*.sw?
.kitchen/
.kitchen.local.yml
